<%-  include ('partials/head') %> 


    <%-  include ('partials/navbar') %>

    <h1>The Home page <%= %></h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, nemo quo! Dicta vel quisquam pariatur a at id aspernatur exercitationem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis praesentium labore molestiae unde cumque quam impedit autem, recusandae earum illum repellat consequuntur minus quasi in necessitatibus, numquam qui. Fuga, quas.
    </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, nemo quo! Dicta vel quisquam pariatur a at id aspernatur exercitationem!</p>

    <%-  include ('partials/footer') %>
