* {
    margin: 0;
    padding: 0;
    border-radius: 7px;
}

body {
    background-image: linear-gradient(to right, rgb(20, 19, 24) ,rgb(33, 35, 34));
}

.card {
    background-image: linear-gradient(to left, rgb(156, 130, 92) ,rgb(209, 171, 96));
    margin: auto;
    width: 50%;
}

.navbar {
    background-image: linear-gradient(to right, rgb(164, 173, 204),rgb(141, 155, 204),rgb(87, 106, 164),rgb(57, 73, 133),rgb(32, 37, 66));
}

.btn {
    color: white;
    background-color: white;
    display: block;
    background-image: linear-gradient(to right, rgb(164, 173, 204),rgb(141, 155, 204),rgb(87, 106, 164),rgb(57, 73, 133),rgb(32, 37, 66));
    width: 50%;
    margin: auto;

}

.container {
    /* border: 5px solid red; */
}
.col {
    border: 5px solid red;
}