* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    z-index: -1;

    display: block;
    background-image: url("https://images.unsplash.com/photo-1501443762994-82bd5dace89a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    width: 100vw;
    height: 100vh;

    filter: blur(3px);
}

body {

    font-family: 'Lobster', cursive;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    font-size: 20px;
}



form {
    padding: 2em;
    background-color: hsla(310, 55%, 65%, 0.5);
    border-radius: 10px;
    display: grid;
    align-items: center;
}

form {
    position: relative;
    animation-name: slide;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}

@keyframes slide {
    from{top: -200px;}
    to{top: 0px;}
}

h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
    text-align: center;
}

#description {
    margin-bottom: 2em;
    text-align: center;
}

div {
    display: grid;
    margin: 8px;
}

#submit {
    padding: 8px 0;
    background-color: purple;
    color: white;
    border-radius: 7px;
}