.App {
  margin: 16px;
  display: grid;
  justify-content:center;
  align-items:center;
  text-align: center;
}


input {
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 15px 15px rgb(211, 205, 205);
}