<div>

    <% for( let i = 0; i < books.length; i++ ) { %>

    <span>Title: <em><%= books[i].title %> </em></span>&nbsp
    <span>Author: <b><%= books[i].author %></b> </span>&nbsp

    <button><a href="http://localhost:3000/books/list/<%= books[i].id %>">DELETE</a></button>

    <br>

    <% } %>
    <form method="POST" action="">
        <button id="delete">Delete</button>
    </form>
</div>




<div id="error">
    <!-- <p><%= message %> </p> -->
</div>
</div>