<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" href="/">Books-DB</span></a>
        <a class="nav-item nav-link" href="/books/list">Books List</a>
        <a class="nav-item nav-link" href="/books/add">Book Add</a>
        <a class="nav-item nav-link" href="/books/delete/book">Books Delete</a>
    </div>
</nav>

<div class="container">
